
/* ---------------INSTA------------------ */
.like1m {
    /* float: left; */
    display: inline-block;
    float: left;
    width: 160px;
    height: 80px;
    background-color: red;
    border-radius: 20px;
    color: #ffffff;
    font-size: 40px;    
    font-family: Arial;
    text-align: center;
    line-height: 2;
    box-sizing: border-box;
    padding-left: 30px;
    position: relative;
}

.like1m > span:after{
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border: 20px solid transparent;
    border-top:20px solid red;
    position: absolute;
    top: 80px;
    left:calc(50% - 20px)
}

.like1m::before{
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    position: absolute;
    top: 25px;
    left: 25px;
}

.like1m::after {
    content: '';
  
    display: block;
    width: 30px;
    height:10px;
    border-radius: 5px 5px 0px 0px;
    background-color: #ffffff;
    position: absolute;
    top: 45px;
    left: 17px;
}

/* --------------------YOUTUBE----------------------- */

.youtube {
    display: inline-block;
    float: left; 
    box-sizing: border-box;
    position: relative;
    
    width: 150px;
    height: 98px;
    margin: 0px 20px;
    background: red;
    border-radius: 54%/12%;
    color: white;
    text-align: center;
    text-indent: .1em;
    
} 

.youtube:before {
    content: '';
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: -5%;
    left: -5%;
    background: inherit;
    border-radius: 5%/50%
}

.youtube:after {
    content: '';
    position: absolute;
    display: block;
    border: 30px solid transparent;
    border-left: 40px solid;
    width: 0;
    height: 0;
    left: calc(50% - 15px);
    top: calc(50% - 30px);
}

/* ---------------EYE---------------------- */

.eye{
    margin: -5px 20px;
    float:left;
    display: inline-block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:100px;
    height: 100px;
    border: 1px solid #000000;
    border-radius: 0 100%;
    transform: rotateZ(-45deg);
    background: rgb(214, 203, 194);;
}

.eye::after{
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid #413cc1;
    margin-top: 29%;
    margin-left: 30%;

    border-radius: 50%; 
    background: radial-gradient(#000000 3px,#aaaaaa 4px,#006fff 20px)
}
/* ----------Spam------------ */

.spam{
    display: inline-block;
    margin-left: 10px;
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid red;
    position: relative;
    box-sizing: border-box;

}
.spam::after {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 90px;
    background-color: red;
    transform: rotateZ(45deg);
    top: -5px;
    left: calc(50% - 5px)
}
/* ----------------Heart--------------- */

.heart{
    display: inline-block;
    float: left;
    width: 100px;
    height: 100px;
    background-color:yellow;
    position: relative;
    margin: 40px 50px;
    transform: rotateZ(45deg);
}

.heart::after,.heart::before{
    display: block;
    content: '';
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50px;
    position: absolute;
}

.heart::after{
    top: -50px;
    left: 0px;
}

.heart::before{
    top: 0;
    right: 50px;
}

/* -----------------INFINITY------------------ */

.infinity{
    display: inline-block;
    margin-top: 20px;
    float: left;
    width: 50px;
    height: 50px;
    border: 20px solid #000000;
    border-radius: 100% 0 100% 100%;
    transform: rotateZ(45deg);
    position: relative;
}
.infinity::after{
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    border: 20px solid #000000;
    border-radius: 100% 0 100% 100%;
    transform: rotateZ(-180deg);
    position: absolute;
    /* left: 60px;
    top: -100px */
    left: 70px;
    bottom: 70px;
    margin: -20px;

}











